@media (max-width: 767px) {
    body {
        background-color: rgb(78, 214, 65);
    }

    .Container {
        width: 100%;
    }

    .header {
        margin-top: 50px;
        border-top-right-radius: 5%;
        border-top-left-radius: 5%;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
        background-color: white;
    }

    .Logo {
        margin-left: 10%;
        width: 100%;
    }

    .Logo img {
        width: 80%;
    }

    .login {
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
        margin-left: 25%;
        margin-right: 25%;
        height: 60%;
        width: 50%;
        padding-bottom: 10px;
        background-color: white;
    }

    .login input[type=endereco] {
        width: 70%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        margin-left: 15%;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=numero] {
        width: 70%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        margin-left: 15%;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=cep] {
        width: 70%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        margin-left: 15%;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=complemento] {
        width: 70%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        margin-left: 15%;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=bairro] {
        width: 70%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        margin-left: 15%;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=cidade] {
        width: 70%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        margin-left: 15%;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=estado] {
        width: 70%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        margin-left: 15%;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=submit] {
        width: 73%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        margin-left: 15%;
        padding: 4px;
        margin-top: 10px;
    }

    ::-webkit-input-placeholder {
        color: black;
    }

    ::-moz-input-placeholder {
        color: black;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        background-color: rgb(78, 214, 65);
    }

    .Container {
        width: 100%;
    }

    .header {
        border-radius: 5%;
        height: 59.8%;
        width: 40%;
        background-color: white;
        position: absolute;
        top: calc(31% - 50px);
        left: calc(50% - 255px);
        z-index: 2;
    }

    .Logo {
        margin-top: 120PX;
        width: 60%;
    }

    .Logo img {
        width: 100%;
    }

    .login {
        border-radius: 5%;
        position: absolute;
        top: calc(31% - 50px);
        left: calc(55% - 50px);
        height: 57%;
        width: 28%;
        padding: 10px;
        z-index: 2;
        background-color: white;
    }

    .login input[type=endereco] {
        width: 71%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=numero] {
        width: 71%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=cep] {
        width: 71%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=complemento] {
        width: 71%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=bairro] {
        width: 71%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=cidade] {
        width: 71%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=estado] {
        width: 71%;
        height: 30px;
        background: transparent;
        border: 1px solid black;
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=submit] {
        width: 75%;
        height: 35px;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 2px;
        color: black;
        font-size: 16px;
        font-weight: 400;
        padding: 6px;
        margin-top: 10px;
    }
    ::-webkit-input-placeholder {
        color: black;
    }

    ::-moz-input-placeholder {
        color: black;
    }
}

@media (min-width: 1024px) {
    body {
        margin: 0 auto;
        background-color: rgb(78, 214, 65);
    }

    .Container {
        width: 50%;
    }

    .header {
        border-radius: 5%;
        height: 59.8%;
        width: 40%;
        background-color: white;
        position: absolute;
        margin-top: 15.4%;
        margin-left: 18%;
        z-index: 1;
    }

    .Logo {
        margin-left: 10%;
        margin-top: 22%;
        width: 100%;
    }

    .Logo img {
        width: 50%;
    }

    .login {
        border-radius: 5%;
        position: absolute;
        margin-top: 15.4%;
        margin-left: 48%;
        height: 57%;
        width: 30%;
        padding: 10px;
        z-index: 2;
        background-color: white;
    }

    .login input[type=endereco] {
        width: 90%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=numero] {
        width: 90%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=cep] {
        width: 90%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=complemento] {
        width: 90%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=bairro] {
        width: 90%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=cidade] {
        width: 90%;
        height: 30px;
        background: transparent;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=estado] {
        width: 90%;
        height: 30px;
        background: transparent;
        border: 1px solid black;
        border-radius: 2px;
        color: black;
        font-size: 16px;
        padding: 4px;
        margin-top: 10px;
    }

    .login input[type=submit] {
        width: 93%;
        height: 35px;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 2px;
        color: black;
        font-size: 16px;
        font-weight: 400;
        padding: 6px;
        margin-top: 10px;
    }

    .login input[type=submit]:hover {
        opacity: 0.8;
    }

    .login input[type=submit]:active {
        opacity: 0.6;
    }

    .login input[type=text]:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9);
    }

    .login input[type=password]:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9);
    }

    .login input[type=submit]:focus {
        outline: none;
    }

    ::-webkit-input-placeholder {
        color: black;
    }

    ::-moz-input-placeholder {
        color: black;
    }
}