@media (max-width: 767px) {
    body {
      background-color: whitesmoke;
      flex-direction: column;
      margin: 0 auto;
    }
    .div-video {
      width: 100%;
      position: relative;
    }
    .div-video video {
      width: 100%;
      top: 0;
      left: 0;
    }
    .titulo {
      padding-bottom: 5%;
    }
    .titulo img {
      display: flex;
      width: 90%;
      padding-top: 5%;
      padding-left: 5%;
    }
    .container {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    .container2 {
      display: flex;
    }
    .container3 {
      width: 90%;
      padding-left: 4%;
      padding-right: 4%;
      font-family: "Montserrat";
    }
    .img img {
      display: flex;
      width: 100%;
    }
    .texto1 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 12%;
    }
    .texto2 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .texto3 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .texto4 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .texto5 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .texto6 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .texto7 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .container-txt {
      display: none;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      background-color: whitesmoke;
      flex-direction: column;
      margin: 0 auto;
    }
    .div-video {
      width: 100%;
      position: relative;
    }
    .div-video video {
      width: 100%;
      top: 0;
      left: 0;
    }
    .titulo {
      padding-bottom: 5%;
    }
    .titulo img {
      display: flex;
      width: 90%;
      padding-top: 5%;
      padding-left: 5%;
    }
    .container {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    .container2 {
      display: flex;
    }
    .container3 {
      width: 90%;
      padding-left: 4%;
      padding-right: 4%;
      font-family: "Montserrat";
    }
    .img img {
      display: flex;
      width: 100%;
    }
    .texto1 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 12%;
    }
    .texto2 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .texto3 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .texto4 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .texto5 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .texto6 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .texto7 {
      color: black;
      font-size: 20px;
      width: 100%;
      text-align: justify;
      margin-top: 3%;
    }
    .container-txt {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    body {
      background-color: whitesmoke;
      flex-direction: column;
      margin: 0 auto;
    }
    .div-video {
      width: 100%;
      position: relative;
    }
    .div-video video {
      width: 100%;
      top: 0;
      left: 0;
    }
    .titulo {
      padding-bottom: 5%;
    }
    .titulo img {
      display: flex;
      width: 90%;
      padding-top: 5%;
      padding-left: 5%;
    }
    .container2 {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
    }
    .container3 {
      width: 100%;
      font-family: "Montserrat";
    }
    .img img {
      width: 100%;
    }
    .texto1 {
      color: black;
      font-size: 20px;
      width: 90%;
      text-align: justify;
      margin-top: 5%;
      margin-left: 5%;
    }
    .texto2 {
      color: black;
      font-size: 20px;
      width: 90%;
      text-align: justify;
      margin-top: 2%;
      margin-left: 5%;
    }
    .texto3 {
      color: black;
      font-size: 20px;
      width: 90%;
      text-align: justify;
      margin-top: 2%;
      margin-left: 5%;
    }
    .texto4 {
      color: black;
      font-size: 20px;
      width: 90%;
      text-align: justify;
      margin-top: 2%;
      margin-left: 5%;
    }
    .texto5 {
      color: black;
      font-size: 20px;
      width: 90%;
      text-align: justify;
      margin-top: 2%;
      margin-left: 5%;
    }
    .texto6 {
      color: black;
      font-size: 20px;
      width: 90%;
      text-align: justify;
      margin-top: 2%;
      margin-left: 5%;
    }
    ::-webkit-scrollbar {
      height: 8px;
    }
  
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 25px;
    }
  
    ::-webkit-scrollbar-thumb {
      background: #4dd6418e;
      ;
      border-radius: 10px;
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: #4dd641b9;
    }
  }
  