@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat:wght@300&display=swap');
/* Dispositivos móveis com tela de até 767px de largura AKA celular*/
@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

  }

  .TSA {
    text-align: center;
  }

  .title-A {
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
  }

  .subtitle-A {
    color: rgb(95, 95, 95);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
  }

  .title-B {
    font-size: 15px;
    padding-left: 5vh;
    margin-top: 8%;
  }


  .subtitle-B {
    color: rgb(95, 95, 95);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 15px;
    padding-left: 5vh;
  }

  .T1 {
    text-align: justify;
    padding-left: 60px;
    padding-right: 60px;
  }

  .middleimg img {
    width: 90%;
    height: 50%;
  }

  .teste {
    text-align: justify;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 2vh;
    padding-bottom: 10vh;
  }

  /* Carousel de Valores */



  .container {
    position: relative;
    padding: 15px;
    max-width: 767px;
  }

  .gallery-wrapper {
    overflow-x: auto;
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.5;
    cursor: pointer;
    border: none;
    display: none;
  }

  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }

  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
  }

  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }

  .item {
    /*Alterar pra maiores cards*/
    width: 50vh;
    height: 70vh;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }

  .current-item {
    opacity: 5;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }

  .containeeer {
    display: flex;
    gap: 15px;
    width: 100%;
    background: linear-gradient(45deg, #4070f4, #6e93f7, #4ed641, #333);    padding: 20px;    padding: 25px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 300px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  .containeeer .carde {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    border-radius: 12px;
    background: #fff;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  .carde .imagem {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #616d626b;
    border-radius: 50%;
  }

  .imagem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
  }

  .carde h2 {
    margin-top: 25px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  .carde p {
    display: none;
  }

  .carde-title {
    align-items: center;
    font-weight: bolder;
    padding-bottom: 3px;
  }

  .carde-name {
    align-items: center;
    color: #4ed641;
    padding-bottom: 15px;
  }

  .carde-resume {
    align-items: center;
    padding-bottom: 8px;
  }

  .icons {
    font-size: 30px;
  }

  .container-clip{
    display: none;
  }

  #middleimg img {
    width: 100%;
  }


}
/* Tablets com tela de 768px a 1023px de largura */
@media (min-width: 768px) and (max-width: 1023px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
  }

  .TSA {
    text-align: center;
    padding-left:5% ;
    padding-right: 5%;
  }

  .title-A {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding-top: 80px;
    margin-bottom: 0px;
  }

  .subtitle-A {
    color: rgb(95, 95, 95);
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }

  .T1 {
    text-align: justify;
    padding-left: 4vh;
    padding-right: 4vh;

  }

  #middleimg img {
    width: 100%;
    
  }

  .teste {
    text-align: justify;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 2vh;
    padding-bottom: 10vh;
  }

  /* Carousel de Valores */



  .container {
    position: relative;
    padding: 15px;

  }

  .gallery-wrapper {
    overflow-x: auto;
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.5;
    cursor: pointer;
    border: none;
  }

  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }

  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
  }

  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }

  .item {
    /*Alterar pra maiores cards*/
    width: 350px;
    height: 500px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }

  .current-item {
    opacity: 5;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }


  ::-webkit-scrollbar {
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
  }

  .containeeer {
    display: flex;
    width: 100%;
    background: linear-gradient(45deg, #4070f4, #6e93f7, #4ed641, #333);    padding: 20px;
    gap: 15px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  .containeeer .carde {
    display: flex;
    flex: 0 0 60%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 80%;
    border-radius: 12px;
    background: #fff;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  .carde .imagem {
    height: 200px;
    width: 200px;
    background: #ffffff6b;
    border-radius: 50%;

  }

  .imagem img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #616d626b;
  }

  .carde h2 {
    margin-top: 25px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  .carde p {
    color: rgb(95, 95, 95);
    text-align: center;
  }

  .carde-title {
    align-items: center;
    font-weight: bolder;
    padding-bottom: 3px;
  }

  .carde-name {
    align-items: center;
    color: #4ed641;
    padding-bottom: 15px;
  }

  .carde-resume {
    align-items: center;
    padding-bottom: 8px;
  }

  .icons {
    font-size: 30px;
  }

  .title-B{
    font-size: 15px;
    padding-top: 80px;
    padding-left: 3.8vh;
    padding-bottom: 0px;
    font-family: 'Kanit', sans-serif;

  }

  .subtitle-B {
    color: rgb(143, 142, 142);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 13px;
    padding-left: 4.2vh;
    padding-right: 5%;
  }

  .container-clip{
    display: none;
  }

}
/* Desktops com tela de 1024px ou mais de largura */
@media (min-width: 1024px){

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

  }


  .TSA {
    text-align: center;
    padding-left:5%;
    padding-right:5%;
  }

  .title-A {
    font-size: 25px;
    padding-top: 80px;
    padding-bottom: 3vh;
    font-family: 'Kanit', sans-serif;
  }

  .subtitle-A {
    color: rgb(143, 142, 142);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .title-B {
    font-size: 25px;
    padding-top: 80px;
    padding-left: 3.8vh;
    padding-bottom: 0px;
    font-family: 'Kanit', sans-serif;
  }

  .subtitle-B {
    color: rgb(143, 142, 142);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 18px;
    width: 100%;
    padding-left: 4.2vh;
    padding-right: 5%;
  }
/**/

.container-clip{

  background-color: rgba(0, 0, 0, 0.185);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  height: 70vh;

}

.content-clip{
  text-align: center;
  display: none;
}

.content-clip h1{
  font-size: 95px;
  color: #fff;
  margin-bottom: 50px;
}

.content-clip a{
  font-size: 23px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 15px 25px;
  border-radius: 50px;
  transition: 0.3s;
}

.content-clip a:hover{
  background-color: #fff;
  color: #000;
}

.background-clip{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;

}

/**/
  .UTA {
    display: flex;
    flex-direction: column;
  }

  .T1 {
    text-align: justify;
    line-height: 170%;
    padding-right: 5%;
    padding-left: 5%;
  }

  .teste {
    text-align: justify;
    line-height: 170%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2vh;
    padding-bottom: 10vh;
  }

  .TSC {
    text-align: center;
  }

  .title-C {
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .subtitle-C {
    color: rgb(95, 95, 95);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;

  }

  .TSD {
    text-align: center;
  }

  .title-D {
    font-size: 15px;
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .subtitle-D {
    color: rgb(104, 99, 99);
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 15px;
  }

  .container {
    position: relative;
    padding: 25px;
    width: 100%;
    

  }

  .gallery-wrapper {
    overflow-x: auto;
  }



  .gallery {
    display: flex;
    flex-flow: row nowrap;

  }

  .item {
    /*Alterar pra maiores cards*/
    width: 350px;
    height: 500px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);

  }

  .current-item {
    opacity: 5;
  }


  ::-webkit-scrollbar {
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb {
    background: #007e0071;
    ;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #007e0071;
  }

  .containeeer {
    display: flex;
    width: 100%;
    background: linear-gradient(45deg, #4070f4, #6e93f7, #4ed641, #333);
    padding: 20px;
    gap: 15px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  .containeeer .carde {
    display: flex;
    flex: 0 0 40%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 30%;
    border-radius: 12px;
    background: #fff;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  .carde .imagem {
    height: 200px;
    width: 200px;
    background: #ffffff6b;
    border-radius: 50%;

  }

  .imagem img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #616d626b;
  }

  .carde h2 {
    margin-top: 25px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  .carde p {
    color: rgb(95, 95, 95);
    text-align: center;
  }

  .carde-title {
    align-items: center;
    font-weight: bolder;
    padding-bottom: 3px;
    
  }

  .carde-name {
    align-items: center;
    color: #4ed641;
    padding-bottom: 15px;
  }

  .carde-resume {
    align-items: center;
    padding-bottom: 8px;
  }

  .icons {
    font-size: 30px;
  }

  #middleimg{
    display: none;
  }

}