<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="">
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <title>Home PI</title>
  <link rel="stylesheet" href="css/StyleHome.css">
</head>

<body>
{{>partials/header}}

  <div class="PrimeiroCarrocel">
    <div id="slider">
      <img class="selected" src="images/JoaoHome/mãomundo.jpg" alt="">
      <img src="images/JoaoHome/fotomãos.png" alt="">
      <img src="images/JoaoHome/foto teste.jpg" alt="">
    </div>
  </div>

  <div class="containerMapa">
    <div class="SeparaçãoPrimeiroCarrocel"></div>

    <div class="AllMap">
     
      <div class="TituloDeLegenda">
        <div class="PontoDeDiscarte">
          Legenda do Mapa
        </div>
  
        <div class="CadastroDePontos">
          Cadastro de Ponto de Descarte de Lixo Eletrônico
        </div>
      </div>
      
      <div class="Legenda">

        <div class="Pontos">
          <div class="PontoVerde">
            <div class="imgPontoVerde">
              <img src="images/JoaoHome/green.png" alt="">
            </div>
            <div class="texto">
              Pontos de lixos que estão operantes
            </div>
          </div>
          <div class="PontoCinza">
            <div class="imgPontoCinza">
              <img src="images/JoaoHome/gray.png" alt="">
            </div>
              <p>Pontos de lixos que não estão operantes</p>
          </div>
        </div>
        <div class="CadastroDePontosSmartphone">
          Cadastro de Ponto de Descarte de Lixo Eletrônico
        </div>
        <div class="CadastroPontodeDescarte">
          <div class="Textos">
            Se você identificar qualquer ponto de descarte de lixo que não esteja registrado em nosso mapa,
            por favor, ajude-nos a mantê-lo atualizado. Clique agora no botão abaixo e seja direcionado
            para nossa página de cadastramento. Sua contribuição é fundamental para preservarmos um
            ambiente limpo e saudável para todos. 
          </div>
          <button class="button" type="submit"> <a href="https://www.youtube.com/"> Clique Aqui </a> </button>
        </div>

      </div>

      <div class="mapa">
        <div id="map"></div>
      </div>
      
    </div>

  </div>




  <div class="SegundoCarrocel">

    <div class="tituloInformacoes">
      <div class="Titulos"> Informações </div>
    </div>

    <main class="containerCarrocel">
      <ul class="gallery">

        <li class="slide">
          <div class="fotofundo">
            <img class="foto" src="images/JoaoHome/teclado.jpg" alt="">
          </div>
          <div class="slide--description">
            <p class="Titulos2"> Reciclagem De Eletrônicos </p>
            <div class="DescriçãoDesktop">
              A reciclagem é o processo de reaproveitamento do resíduo que não 
              serve mais para o processo, com mudanças em seus estados físico 
              ou físico-químico, de modo a atribuir características para que 
              se torne novamente matéria-prima ou produto...
            </div>
            <div class="DescriçãoTablet">
              A reciclagem é o processo de reaproveitamento do resíduo que não 
              serve mais para o processo, com mudanças em...
            </div>
            <button class="button"> <a href="https://www.youtube.com/"> Saiba mais </a> </button>
          </div>

        </li>

        <li class="slide">
          <div class="fotofundo">
            <img class="foto" src="images/JoaoHome/lixoeletronio.jpg" alt="">
          </div>
          <div class="slide--description">
            <p class="Titulos2"> Tecnologias emergente na reciclagem de lixo eletrônico </p>
            <div class="DescriçãoDesktop">
              Com o constante avanço da tecnologia, a produção de lixo eletrônico
              tem se tornado cada vez mais comum e preocupante. No entanto, o 
              descarte inadequado desses resíduos pode trazer sérios problemas 
              ambientais, já que ...
            </div>
            <div class="DescriçãoTablet">
              Com o constante avanço da tecnologia, a produção de lixo...
            </div>

            <button class="button"> <a href="https://www.youtube.com/"> Saiba mais </a> </button>
          </div>
        </li>

        <li class="slide">
          <div class="fotofundo">
            <img class="foto" src="images/JoaoHome/mundo.png" alt="">
          </div>
          <div class="slide--description">
            <p class="Titulos2"> O papel das empresas na reciclagem de lixo eletrônico </p>
            <div class="DescriçãoDesktop">
              A reciclagem de lixo eletrônico é um dos grandes desafios da atualidade.
              Com o crescente aumento da tecnologia, o descarte inadequado de equipamentos
              eletrônicos se tornou um problema ambiental de grande proporção...
            </div>
            <div class="DescriçãoTablet">
              A reciclagem de lixo eletrônico é um dos grandes desafios da..
            </div>
            <button class="button"> <a href="https://www.youtube.com/"> Saiba mais </a> </button>
          </div>
        </li>

        <li class="slide">
          <div class="fotofundo">
            <img class="foto" src="images/JoaoHome/lixos.jpg" alt="">
          </div>
          <div class="slide--description">
            <p class="Titulos2"> Recilclando em casa </p>
            <div class="DescriçãoDesktop">
              O descarte de lixo eletrônico se tornou um grande problema ambiental. 
              Muitos desses materiais possuem substâncias tóxicas que, se descartados
              de forma inadequada, podem causar danos ao meio ambiente e à saúde humana.
              No entanto, reciclar esse tipo de lixo pode ser uma tarefa desafiadora.
            </div>
            <div class="DescriçãoTablet">
              O descarte de lixo eletrônico se tornou um grande problema ambiental. 
              Muitos desses materiais possuem...
            </div>
            
            <button class="button"> <a href="https://www.youtube.com/"> Saiba mais </a> </button>
          </div>
        </li>

        <li class="slide">
          <div class="fotofundo">
            <img class="foto" src="images/JoaoHome/lixoeletronio2.jpg" alt="">
          </div>
          <div class="slide--description">
            <p class="Titulos2"> Oportunidades econômicas na reciclagem de lixo eletrônico </p>
            <div class="DescriçãoDesktop">
              Nos dias atuais, a reciclagem de lixo eletrônico se tornou uma das principais maneiras de
              lidar com o descarte de aparelhos eletrônicos que já não são mais utilizados ou quebrados. 
              A reciclagem de lixo eletrônico apresenta inúmeras...
            </div>
            <div class="DescriçãoTablet">
              Nos dias atuais, a reciclagem de lixo eletrônico se tornou uma das principais...
            </div>
            <button class="button"> <a href="https://www.youtube.com/"> Saiba mais </a> </button>
          </div>
        </li>
      </ul>
    </main>
    
    <main class="containerCarrocelSmartphone">
      <ul class="gallery2">
    
        <li class="slide2">
          <img class="foto2" src="images/JoaoHome/teclado.jpg" alt="">
          <p class="slide2--Titulo"> Reciclagem De Eletrônicos </p>
          <p class="slide2--description">
            A reciclagem é o processo de reaproveitamento do resíduo que não 
            serve mais para o processo, com mudanças em seus estados físico 
            ou físico-químico, de modo a atribuir características para que 
            se torne novamente matéria-prima ou produto. 
          </p>
          <button class="button"> <a href="https://www.youtube.com/"> Saiba mais </a> </button>
        </li>
    
        <li class="slide2">
          <img class="foto2" src="images/JoaoHome/lixoeletronio.jpg" alt="">
          <p class="slide2--Titulo"> Tecnologias emergente na reciclagem de lixo eletrônico </p>
          <p class="slide2--description">
            Com o constante avanço da tecnologia, a produção de lixo eletrônico
            tem se tornado cada vez mais comum e preocupante. No entanto, o 
            descarte inadequado desses resíduos pode trazer sérios problemas...
          </p>
          <button class="button"> <a href="https://www.youtube.com/"> Saiba mais </a> </button>
        </li>
    
        <li class="slide2">
          <img class="foto2" src="images/JoaoHome/mundo.png" alt="">
          <p class="slide2--Titulo"> O papel das empresas na reciclagem de lixo eletrônico </p>
          <p class="slide2--description">
            A reciclagem de lixo eletrônico é um dos grandes desafios da atualidade.
            Com o crescente aumento da tecnologia, o descarte inadequado de equipamentos
            eletrônicos se tornou um...
          </p>
          <button class="button"> <a href="https://www.youtube.com/"> Saiba mais </a> </button>
        </li>
    
        <li class="slide2">
          <img class="foto2" src="images/JoaoHome/lixos.jpg" alt="">
          <p class="slide2--Titulo"> Recilclando em casa </p>
          <p class="slide2--description">
            O descarte de lixo eletrônico se tornou um grande problema ambiental. 
            Muitos desses materiais possuem substâncias tóxicas que, se descartados
            de forma inadequada, podem causar danos ao meio ambiente e à saúde humana.
            No entanto, reciclar esse tipo...
          </p>          
          <button class="button"> <a href="https://www.youtube.com/"> Saiba mais </a> </button>
        </li>
    
        <li class="slide2">
          <img class="foto2" src="images/JoaoHome/lixoeletronio2.jpg" alt="">
          <p class="slide2--Titulo"> Oportunidades econômicas na reciclagem de lixo eletrônico </p>
          <p class="slide2--description">
            Nos dias atuais, a reciclagem de lixo eletrônico se tornou uma das principais maneiras de
            lidar com o descarte de aparelhos eletrônicos que já não são mais utilizados ou quebrados. 
            A reciclagem...
          </p>
          <button class="button"> <a href="https://www.youtube.com/"> Saiba mais </a> </button>
        </li>
    
      </ul>
    
    </main>

  </div>


  <div class="containerNoticia">
    <div class="tituloNoticia">
      <div class="Titulos"> Notícias </div>
    </div>
    <div class="PrimeiraParteNoticiaTablet">
      <div class="TresNoticia">
        <div class="PrimeiraNoticia">
          <div class="PrimeiraNoticiaFoto">
            <img src="images/JoaoHome/noticiaPontodeDescarte.png" alt="">
          </div>
          <div class="PrimeiraNoticiaDescricao">
            <p class="Titulos"> <a
                href="https://www.terra.com.br/noticias/pontos-de-descarte-de-lixo-eletronico-crescem-no-pais,21c21302f5450e4b2a3f905e2cb20d5dein0czl4.html">
                Pontos de descarte de lixo eletrônico crescem no país
              </a></p>
            <p class="Textos">
              De acordo com relatório divulgado recentemente, já estão instalados Centros de Logística Reversa em 24
              capitais do país, bem como quase 3,7 mil pontos de recebimento espalhados pelo Brasil, estando presente
              em mais de 1,2 mil municípios brasileiros
            </p>
            <p class="descriçãoTablet">
              Apesar de ser o quinto maior gerador de resíduos eletrônicos do planeta, o Brasil ainda caminha a passos
              lentos no caminho da correta destinação e reciclagem deste tipo de lixo. De acordo com a pesquisa
              "Resíduos
              Eletrônicos no Brasil 2021", realizada pela Green Eletron em parceria com a Radar Pesquisas, apenas 3% do
              total de resíduos são descartados corretamente no país.
              Além disso, ainda de acordo com o levantamento, o tema não foi adequadamente trabalhado junto à população.
              A maior parte dos brasileiros (87%) já ouviu falar em lixo eletrônico, mas um terço (33%) crê que ele
              esteja relacionado ao meio digital, como spam, e-mails, fotos ou arquivos. Outros 42% dos brasileiros
              pensam que lixo eletrônico são aparelhos eletrônicos e eletrodomésticos quebrados. E somente 3% acreditam
              que são todos os aparelhos que já viraram lixo, ou seja, apenas os que foram descartados - ainda que de
              forma incorreta.
            </p>
          </div>
        </div>

        <div class="SeparacaoNoticia"></div>

        <div class="SegundaNoticia">

          <div class="ParteNoticia">
            <div class="SegundaNoticiaFoto">
              <img src="images/JoaoHome/Montanha de lixo eletrônico.png" alt="">
            </div>
            <div class="SegundaNoticiaDescricao">
              <p class="Titulos"> <a
                  href="https://g1.globo.com/mundo/noticia/2020/07/05/montanha-de-lixo-eletronico-nao-para-de-crescer-no-mundo.ghtml">
                  Montanha de lixo eletrônico não para de crescer no mundo
                </a></p>
            </div>
          </div>

          <div class="Partead">
            <div class="ad">
              <video autoplay loop muted plays-inline class="background-clip">
                <source src="images/JoaoHome/Japan's Weirdest Commercial (Yes Milk).mp4" type="video/mp4">
              </video>
              <div class="DescriçãoAd"> Publicidade </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="PrimeiraParteNoticia">

      <div class="SeparacaoNoticia"></div>

    </div>

    <hr>

    <div class="SegundaParteNoticias">
      <div class="teste">
        <div class="SegundaParteNoticia">
          <div class="SegundaParteNoticiaFoto">
            <img src="images/JoaoHome/noticia do Brasil.png" alt="">
          </div>
          <div class="SegundaParteNoticiaDescricao">
            <a class="Titulos3"
              href="https://brasil61.com/n/coleta-de-lixo-eletronico-cresce-75-vezes-no-brasil-em-tres-anos-e-chega-a-1-2-mil-toneladas-em-2021-bras226837">
              Coleta de lixo eletrônico cresce 75 vezes no Brasil em três anos e chega a 1,2 mil toneladas em 2021 </a>
          </div>
        </div>

        <div class="SegundaParteNoticia">
          <div class="SegundaParteNoticiaFoto">
            <img src="images/JoaoHome/Aumento do lixo.jpg" alt="">
          </div>
          <div class="SegundaParteNoticiaDescricao">
            <a class="Titulos3"
              href="https://www.paho.org/pt/noticias/15-6-2021-aumento-do-lixo-eletronico-afeta-saude-milhoes-criancas-alerta-oms">
              Aumento do lixo eletrônico afeta saúde de milhões de crianças, alerta OMS </a>
          </div>
        </div>
      </div>

      <div class="teste1">
        <div class="SegundaParteNoticia">
          <div class="SegundaParteNoticiaFoto">
            <img src="images/JoaoHome/noticia3.0.png" alt="">
          </div>
          <div class="SegundaParteNoticiaDescricao">
            <a class="Titulos3"
              href="https://agenciabrasil.ebc.com.br/geral/noticia/2021-10/brasil-e-o-quinto-maior-produtor-de-lixo-eletronico">
              Brasil é o quinto maior produtor de lixo eletrônico </a>
          </div>
        </div>

        <div class="SegundaParteNoticia">
          <div class="SegundaParteNoticiaFoto">
            <img src="images/JoaoHome/noticia4.0.jpg" alt="">
          </div>
          <div class="SegundaParteNoticiaDescricao">
            <a class="Titulos3"
              href="https://jornal.usp.br/atualidades/descarte-irregular-de-lixo-eletronico-cresceu-49-na-ultima-decada-na-america-latina/">
              Descarte irregular de lixo eletrônico cresceu 49% na última década na América Latina
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>


{{>partials/footer}}
  <script src="/js/scriptHome.js"></script>

</body>

</html>