<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/informacao2.css">
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body>
  {{>partials/header}}
    <div class="containerclip">
      <div class="div-video">
        <video autoplay muted loop src="/images/Informacoes/clip.mp4"></video>
      </div>
    </div>

    <div class="titulo">
      <img src="/images/Informacoes/titulo2.png" />
    </div>

    <div class="container">
      <div class="container2">
        <div class="img">
          <img src="/images/Informacoes/mundo.png" />
        </div>
      </div>
      <div class="container3">
        <div class="texto1">
          Com o constante avanço da tecnologia, a produção de lixo eletrônico
          tem se tornado cada vez mais comum e preocupante. No entanto, o
          descarte inadequado desses resíduos pode trazer sérios problemas
          ambientais, já que muitos componentes eletrônicos contêm metais
          pesados e substâncias tóxicas que podem contaminar o solo e a água.
        </div>
        <div class="texto2">
          Felizmente, surgem cada vez mais tecnologias emergentes na reciclagem
          de lixo eletrônico, que possibilitam a reutilização de materiais e
          reduzem a quantidade de resíduos que vão para os aterros sanitários.
        </div>
        <div class="texto3">
          Uma dessas tecnologias é a chamada "reciclagem de circuito fechado",
          que consiste em recuperar materiais específicos de um produto
          eletrônico para reutilizá-los na fabricação de novos componentes. Isso
          reduz a necessidade de mineração de matérias-primas e diminui a
          quantidade de resíduos gerados durante a produção.
        </div>
        <div class="texto4">
          Outra tecnologia promissora é a "bio-hidrometalurgia", que utiliza
          micro-organismos para dissolver metais presentes em componentes
          eletrônicos. Essa técnica pode ser mais eficiente e menos poluente do
          que a extração convencional de metais, que muitas vezes envolve o uso
          de produtos químicos tóxicos.
        </div>
        <div class="texto5">
          Além disso, há também a possibilidade de reciclar baterias de íons de
          lítio, que são comumente usadas em dispositivos eletrônicos, como
          celulares e laptops. A reciclagem dessas baterias pode recuperar
          metais valiosos, como cobalto e níquel, que podem ser reutilizados na
          fabricação de novas baterias.
        </div>
        <div class="texto6">
          Essas são apenas algumas das tecnologias emergentes na reciclagem de
          lixo eletrônico. No entanto, para que essas técnicas sejam amplamente
          adotadas, é necessário um esforço conjunto entre empresas, governos e
          consumidores para garantir que os resíduos eletrônicos sejam
          descartados de maneira adequada e que essas tecnologias sejam
          desenvolvidas e implementadas de forma sustentável.
        </div>
      </div>
    </div>
    <main>
        
    </main>
    {{>partials/footer}}
  </body>
</html>
