<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/noticia4.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Document</title>
</head>

<body>
{{>partials/header}}
    <div class="containerclip">
        <div class="div-video">
            <video autoplay muted loop src="/images/mateusPaginas/clip.mp4"></video>
        </div>
    </div>

    <div class="titulo">
        <img src="/images/mateusPaginas/titulo4.png">
    </div>

    <div class="container">
        <div class="container2">
            <div class="img">
                <img src="/images/mateusPaginas/2.jpg">
            </div>
        </div>
        <div class="container3">
            <div class="texto1">
                Com o avanço da tecnologia, o descarte de lixo eletrônico se tornou um grande problema ambiental. Muitos
                desses materiais possuem substâncias tóxicas que, se descartados de forma inadequada, podem causar danos
                ao meio ambiente e à saúde humana. No entanto, reciclar esse tipo de lixo pode ser uma tarefa
                desafiadora. Neste texto, vamos mostrar como reciclar lixo eletrônico em casa de forma segura e
                responsável.
            </div>
            <div class="texto2">
                O primeiro passo é separar o lixo eletrônico do restante do lixo doméstico. Alguns exemplos de lixo
                eletrônico são: celulares antigos, computadores, laptops, tablets, carregadores, fones de ouvido,
                baterias, entre outros. Depois de separar, é importante verificar se alguns desses itens ainda podem ser
                utilizados. Caso estejam em boas condições, você pode doá-los para instituições de caridade ou para
                pessoas que precisam.
            </div>
            <div class="texto3">
                Para reciclar os itens que não podem mais ser utilizados, é importante procurar por empresas
                especializadas em reciclagem de lixo eletrônico. Existem muitas opções disponíveis atualmente, e algumas
                empresas até mesmo fazem a coleta do material em sua casa.
            </div>
            <div class="texto4">
                Caso você opte por reciclar os itens eletrônicos em casa, é importante ter cuidado com a manipulação dos
                materiais. Algumas partes dos aparelhos eletrônicos, como as baterias, podem ser perigosas. Por isso, é
                importante seguir as instruções de segurança ao manuseá-los.
            </div>
            <div class="texto5">
                Uma alternativa é procurar por projetos que utilizem o lixo eletrônico como matéria-prima. Algumas
                ideias são transformar teclados antigos em peças de decoração, utilizar fios de cobre para fazer joias e
                até mesmo construir robôs utilizando componentes eletrônicos antigos.
            </div>
            <div class="texto6">
                Em resumo, reciclar lixo eletrônico em casa pode ser uma tarefa desafiadora, mas é importante para a
                preservação do meio ambiente e da saúde humana. Separar o lixo eletrônico do restante do lixo doméstico,
                procurar por empresas especializadas em reciclagem, ter cuidado ao manipular os materiais e buscar por
                projetos que utilizem o lixo eletrônico são algumas das maneiras de reciclar esse tipo de lixo de forma
                segura e responsável.
            </div>
        </div>
    </div>
    <main>
        
    </main>
    {{>partials/footer}}
</body>

</html>