<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/noticia1.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body>
  {{>partials/header}}
    <div class="containerclip">
      <div class="div-video">
        <video autoplay muted loop src="/images/mateusPaginas/clip.mp4"></video>
      </div>
    </div>

    <div class="titulo">
      <img src="/images/mateusPaginas/titulo.png" />
    </div>

    <div class="container">
      <div class="container2">
        <div class="img">
          <img src="/images/mateusPaginas/1.jpg" />
        </div>
      </div>
      <div class="container3">
        <div class="texto1">
          A reciclagem é o processo de reaproveitamento do resíduo que não serve
          mais para o processo, com mudanças em seus estados físico ou
          físico-químico, de modo a atribuir características para que se torne
          novamente matéria-prima ou produto.
        </div>

        <div class="texto2">
          No Brasil são produzidos aproximadamente 79 milhões de toneladas de
          resíduo sólido por ano. Quando os resíduos são misturados, somente 1%
          destes resíduos pode ser reaproveitado, e quando ocorre a separação
          correta, o aproveitamento passa para a ser 70%.
        </div>
        <div class="texto3">
          A reciclagem é uma forma de reduzir o resíduo depositado no ambiente e
          todos podem colaborar para a conscientização da sociedade sobre os
          benefícios desse processo.
        </div>
        <div class="texto4">
          Além disso, a reciclagem é uma fonte de renda para muitas famílias em
          condições de vulnerabilidade, sendo, portanto, um importante
          instrumento de desenvolvimento social.
        </div>

        <div class="texto5">
          O profissional que destina o tempo para reciclagem é totalmente
          importante para o ciclo e redução de resíduos depositados em aterro
          sanitários. Por isso que foi criada uma data comemorativa destinada
          somente a esse público. O dia do reciclador e da reciclagem que é
          celebrado 22 de novembro. Dia importante para esse profissional e para
          a atividade tão significativa para o meio ambiente.
        </div>
        <div class="texto6">
          Existem diversas empresas e organizações que se especializam na
          reciclagem de eletrônicos, e muitas delas oferecem serviços de coleta
          e descarte gratuito para consumidores e empresas. Essas empresas usam
          técnicas avançadas para desmontar e separar os componentes dos
          aparelhos eletrônicos, como metais, plásticos, vidros e outros
          materiais, para que possam ser reciclados de forma segura e eficiente.
        </div>
        <div class="texto7">
          Além disso, a reciclagem de eletrônicos pode ter muitos benefícios
          econômicos e sociais. Por exemplo, muitos materiais recicláveis
          presentes em aparelhos eletrônicos podem ser reaproveitados na
          fabricação de novos produtos, reduzindo a necessidade de extrair novos
          recursos naturais e economizando energia e dinheiro. Além disso,
          muitas empresas de reciclagem empregam trabalhadores locais e ajudam a
          criar oportunidades de emprego em comunidades carentes.
        </div>
      </div>
    </div>
    <main>
        
    </main>
    {{>partials/footer}}
  </body>
</html>
