<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/informacao3.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body>
  {{>partials/header}}
  
    <div class="containerclip">
      <div class="div-video">
        <video autoplay muted loop src="/images/Informacoes/clip.mp4"></video>
      </div>
    </div>

    <div class="titulo">
      <img src="/images/Informacoes/titulo3.png" />
    </div>

    <div class="container">
      <div class="container2">
        <div class="img">
          <img src="/images/Informacoes/mundo.jpg" />
        </div>
      </div>
      <div class="container3">
        <div class="texto1">
          A reciclagem de lixo eletrônico é um dos grandes desafios da
          atualidade. Com o crescente aumento da tecnologia, o descarte
          inadequado de equipamentos eletrônicos se tornou um problema ambiental
          de grande proporção. No entanto, as empresas podem desempenhar um
          papel fundamental na gestão desse tipo de resíduo.
        </div>
        <div class="texto2">
          As empresas, em geral, são grandes consumidoras de equipamentos
          eletrônicos, seja para uso próprio ou para revenda. Com isso, possuem
          um grande potencial para implementar práticas de reciclagem de lixo
          eletrônico e promover a conscientização de seus funcionários e
          clientes sobre a importância desse processo.
        </div>
        <div class="texto3">
          Uma das formas de atuação das empresas na reciclagem de lixo
          eletrônico é por meio da implementação de programas de coleta
          seletiva. Esses programas podem envolver a instalação de pontos de
          coleta em suas sedes e filiais, além de incentivar seus funcionários e
          clientes a depositarem seus equipamentos eletrônicos em locais
          específicos para que possam ser encaminhados para reciclagem adequada.
        </div>
        <div class="texto4">
          Além disso, as empresas podem buscar parcerias com empresas
          especializadas em reciclagem de lixo eletrônico. Essas empresas têm
          conhecimento técnico e equipamentos adequados para realizar a
          separação dos materiais, garantindo que sejam reaproveitados ou
          descartados de forma segura.
        </div>
        <div class="texto5">
          Outra forma de atuação das empresas na reciclagem de lixo eletrônico é
          por meio da reutilização de equipamentos. Muitas vezes, equipamentos
          que não são mais utilizados em um setor podem ser reaproveitados em
          outros, evitando o descarte desnecessário. Além disso, a doação desses
          equipamentos para instituições de caridade e escolas pode ser uma
          opção viável para garantir que o equipamento seja utilizado por mais
          tempo.
        </div>
        <div class="texto6">
          Em resumo, as empresas têm um papel importante na reciclagem de lixo
          eletrônico. Ao implementar programas de coleta seletiva, buscar
          parcerias com empresas especializadas e reutilizar equipamentos, é
          possível reduzir os impactos ambientais causados pelo descarte
          inadequado desses materiais. A adoção de práticas sustentáveis é
          fundamental para garantir um futuro mais saudável para o planeta e
          para as próximas gerações.
        </div>
      </div>
    </div>
    <main>
        
    </main>
    {{>partials/footer}}
  </body>
</html>
