<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/informacao5.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body>
  {{>partials/header}}
    <div class="containerclip">
      <div class="div-video">
        <video autoplay muted loop src="/images/Informacoes/clip.mp4"></video>
      </div>
    </div>

    <div class="titulo">
      <img src="/images/Informacoes/titulo5.png" />
    </div>

    <div class="container">
      <div class="container2">
        <div class="img">
          <img src="/images/Informacoes/3.jpg"/>
        </div>
      </div>
      <div class="container3">
        <div class="texto1">
          Nos dias atuais, a reciclagem de lixo eletrônico se tornou uma das
          principais maneiras de lidar com o descarte de aparelhos eletrônicos
          que já não são mais utilizados ou quebrados. A reciclagem de lixo
          eletrônico apresenta inúmeras oportunidades econômicas, tanto para
          empresas quanto para a população em geral.
        </div>
        <div class="texto2">
          Em primeiro lugar, a reciclagem de lixo eletrônico pode gerar receita
          por meio da venda de materiais recicláveis, como metais e plásticos.
          Empresas especializadas em reciclagem de lixo eletrônico podem comprar
          esses materiais recicláveis de indivíduos ou empresas e revendê-los
          para fabricantes que os utilizarão na produção de novos aparelhos
          eletrônicos. Isso cria uma oportunidade de negócio rentável para
          empresas de reciclagem.
        </div>
        <div class="texto3">
          Além disso, a reciclagem de lixo eletrônico pode gerar empregos e
          estimular a economia local. A coleta e o processamento de lixo
          eletrônico requerem mão de obra especializada, desde a desmontagem dos
          aparelhos até a separação de materiais recicláveis. Esses empregos
          podem ser preenchidos por trabalhadores locais, gerando oportunidades
          de emprego e contribuindo para a economia da região.
        </div>
        <div class="texto4">
          Outra oportunidade econômica é a venda de peças usadas de aparelhos
          eletrônicos. Muitos aparelhos eletrônicos podem ser reutilizados após
          a reciclagem, desde que as peças estejam em bom estado. As empresas de
          reciclagem podem vender essas peças para outras empresas ou para
          consumidores finais que desejam reparar seus próprios aparelhos
          eletrônicos, criando um mercado de peças usadas de baixo custo.
        </div>
        <div class="texto5">
          Por fim, a reciclagem de lixo eletrônico pode ajudar a reduzir os
          custos de produção de novos aparelhos eletrônicos. Como a reciclagem
          de materiais é muito mais barata do que a extração de novos recursos
          naturais, a utilização de materiais reciclados pode reduzir
          significativamente os custos de produção. Isso pode tornar os produtos
          eletrônicos mais acessíveis para os consumidores e aumentar a demanda
          por aparelhos eletrônicos reciclados.
        </div>
        <div class="texto6">
          Em suma, a reciclagem de lixo eletrônico apresenta inúmeras
          oportunidades econômicas para empresas e indivíduos. Desde a geração
          de receita por meio da venda de materiais recicláveis até a criação de
          empregos e a redução de custos de produção, a reciclagem de lixo
          eletrônico pode ser uma fonte valiosa de benefícios econômicos. Além
          disso, a reciclagem de lixo eletrônico também ajuda a preservar o meio
          ambiente, reduzindo o desperdício e diminuindo a necessidade de
          extração de novos recursos naturais.
        </div>
      </div>
    </div>
    <main>
        
    </main>
    {{>partials/footer}}
  </body>
</html>
