<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre nós</title>
  <link rel="stylesheet" href="/css/sobrenos.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a596cdbb8a.js" crossorigin="anonymous"></script>
</head>

<body>
{{>partials/header}}
  <div class="TSA">
    <div class="title-A">
      <p>Sobre nós</p>
    </div>
    <div class="subtitle-A">Fundada em São Paulo no ano de 2022 por um grupo de amigos que compartilhavam de uma mesma
      visão, o Aqui Seu Lixo nasceu para mudar a forma que nós fazemos o descarte de eletrônicos.</div>
    <div class="UTA">
      <div class="T1">
        <p> Aqui Seu Lixo é uma empresa online especializada no processo de reciclagem de lixo eletrônico. Nós nos
          dedicamos a conscientizar a sociedade sobre a importância de reciclar lixo eletrônico por meio de notícias,
          cards educativos e dicas em nosso site, e principalmente através de nossa principal ferramenta: um mapa que
          apresenta as localizações dos locais de descarte correto de eletrônicos mais próximos de você, tudo oferecido
          de forma gratuita.</p>
        <br>
        <p>Nossa equipe é formada por indivíduos excepcionais com habilidades únicas e talentos especiais que trabalham
          incansavelmente para alcançar resultados extraordinários dentro da empresa. Funcionamos de forma remota, o que
          nos permite estar em contato com pessoas de todo o Brasil, superando a barreira da distância.</p>
        <br>
        <div id="middleimg">
          <img src="/images/LucasSobreNos/LucasSobreNos/Arvore.jpg" alt="">
        </div>
      </div>
    </div>







  </div>

  <div class="container-clip">
    <video autoplay loop muted plays-inline class="background-clip">
      <source src="/images/LucasSobreNos/Video.mp4" type="video/mp4">
    </video>
    <div class="content-clip">
      <h1>Explore More</h1>
    </div>
  </div>
  <div class="TSA">
    <div class="teste">
      <p>Começamos nossas atividades no ano de 2022, na cidade de São Paulo, e desde então nos esforçamos para ajudar a
        construir um mundo mais sustentável, oferecendo uma ferramenta poderosa e prática para auxiliar você a realizar
        o descarte correto do seu lixo eletrônico, sem precisar percorrer grandes distâncias.</p>
      <br>
      <p>Nosso objetivo é oferecer a você informações valiosas sobre a reciclagem de lixo eletrônico, conscientizando a
        sociedade sobre a importância de fazer o descarte correto e preservando o meio ambiente. Junte-se a nós nesta
        importante missão de cuidar do planeta!</p>
    </div>
  </div>
  <div class="title-B">
    <p>Nossos valores</p>
  </div>
  <div class="subtitle-B">Nós somos um time focado em qualidade e acessibilidade, onde cada membro tem voz ativa e
    contribui para o sucesso, dentro e fora do ambiente de trabalho. Orgulhamo-nos de criar um ambiente criativo,
    colaborativo e inclusivo, onde compartilhamos valores que tornam tudo possível.

  </div>

  <div class="container">
    <div class="gallery-wrapper">
      <div class="gallery">
        <img src="/images/LucasSobreNos/LucasSobreNos/Cards/Respeito-Foto-Nome.png" alt="Zoo Image" class="item current-item">
        <img src="/images/LucasSobreNos/LucasSobreNos/Cards/Respeito-Text.png" alt="Beach Image" class="item current-item">
        <img src="/images/LucasSobreNos/LucasSobreNos/Cards/Excelencia-Foto com nome.png" alt="Animal Image" class="item current-item">
        <img src="/images/LucasSobreNos/LucasSobreNos/Cards/Excelencia-Text.png" alt="Beach Image" class="item current-item">
        <img src="/images/LucasSobreNos/LucasSobreNos/Cards/Paixao-Foto-NOME.png" alt="Model Image" class="item current-item">
        <img src="/images/LucasSobreNos/LucasSobreNos/Cards/Paixao-Text.png" alt="Beach Image" class="item current-item">
        <img src="/images/LucasSobreNos/LucasSobreNos/Cards/Integridade-Foto-Nome.png" alt="Model Image" class="item current-item">
        <img src="/images/LucasSobreNos/LucasSobreNos/Cards/Integridade-Text.png" alt="Model Image" class="item current-item">
        <img src="/images/LucasSobreNos/LucasSobreNos/Cards/Inovação-Foto-Nome.png" alt="Beach Image" class="item current-item">
        <img src="/images/LucasSobreNos/LucasSobreNos/Cards/Inovacao-Text.png" alt="Model Image" class="item current-item">
      </div>
    </div>
  </div>
  <div class="title-B">
    <p>Equipe</p>
  </div>
  <div class="subtitle-B">Você já se perguntou quem está por trás do nosso sucesso incrível? Permita-me apresentar os
    membros da nossa equipe, indivíduos excepcionais com habilidades únicas e talentos especiais que trabalham
    incansavelmente para alcançar resultados extraordinários. Com suas contribuições únicas, somos capazes de superar
    qualquer desafio e alcançar o sucesso além das nossas expectativas. Venha conhecer os responsáveis por nossas
    conquistas incríveis e deixe-se inspirar pelo poder da colaboração e da dedicação em equipe.</div>
  <section class="containeeer">
    <div class="carde">
      <div class="imagem">
        <img src="/images/LucasSobreNos/LucasSobreNos/Funcionarios/Victor.png" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">Vitor Queiroz</h3>
      <p class="carde-resume">Conheça minhas redes sociais</p>
      <div class="icons">
        <a href="https://www.linkedin.com/in/vitor-queiroz-018488228/" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-linkedin" style="color: #4ed641;"> </i></a>
        <a href="https://github.com/VQueiroz6" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="https://www.instagram.com/vitorqueiroz202/" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="https://twitter.com/OFF_RONIN" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>
      </div>
    </div>
    <div class="carde">
      <div class="imagem">
        <img src="/images/LucasSobreNos/LucasSobreNos/Funcionarios/Gui.jpg" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">Guilherme Oliveira</h3>
      <p class="carde-resume">Conheça minhas redes sociais</p>
      <div class="icons">
        <a href="https://www.linkedin.com/in/guilherme-oliveiraa/" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-linkedin" style="color: #4ed641;"> </i></a>
        <a href="https://github.com/GuiOliveiraR" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="https://www.instagram.com/guii.0liveira_/" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="https://twitter.com/Gui_Oliveira_R  " target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>

            
      </div>
    </div>
    <div class="carde">
      <div class="imagem">
        <img src="/images/LucasSobreNos/LucasSobreNos/Funcionarios/Matheus.png" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">Matheus Ribeiro</h3>
      <p class="carde-resume">Conheça minhas redes sociais</p>
      <div class="icons">
        <a href="https://www.linkedin.com/in/mateus-felipe-ribeiro/" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-linkedin" style="color: #4ed641;"> </i></a>
        <a href="https://github.com/Mts1God" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="https://www.instagram.com/sr.ribeiro00/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"
            style="color: #4ed641;"></i></a>
        <a href="" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-twitter"
            style="color: #4ed641;"></i></a>
      </div>
    </div>
    <div class="carde">
      <div class="imagem">
        <img src="/images/LucasSobreNos/LucasSobreNos/Funcionarios/Thiago.jpg" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">Thiago Santana</h3>
      <p class="carde-resume">Conheça minhas redes sociais</p>
      <div class="icons">
        <a href="https://www.linkedin.com/in/thiago-santana-759933226" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-linkedin" style="color: #4ed641;"> </i></a>
        <a href="https://github.com/thiagossconceicao1" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="https://www.instagram.com/szthixgo/?igshid=YmMyMTA2M2Y%3D" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="https://twitter.com/thigaxxx?s=11&t=Q5VY5adUVgA4aXYva7ZyfA" target="_blank"
          rel="noopener noreferrer"><i class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>
      </div>
    </div>
    <div class="carde">
      <div class="imagem">
        <img src="/images/LucasSobreNos/LucasSobreNos/Funcionarios/MicrosoftTeams-image.png" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">João Otavio</h3>
      <p class="carde-resume">Conheça minhas redes sociais</p>
      <div class="icons">
        <a href="https://www.linkedin.com/in/jo%C3%A3o-otavio-duarte-de-souza-a16048228/" target="_blank"
          rel="noopener noreferrer"><i class="fa-brands fa-linkedin" style="color: #4ed641;"> </i></a>
        <a href="https://github.com/PROGRAMADORTAVINHO" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="https://www.instagram.com/eae_joao127/" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="https://twitter.com/eae_joao1207" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>
      </div>
    </div>
    <div class="carde">
      <div class="imagem">
        <img src="/images/LucasSobreNos/LucasSobreNos/Funcionarios/Lucas.JPG" alt="" />
      </div>
      <h2 class="carde-title">Full Stack Developer</h2>
      <h3 class="carde-name">Lucas Leocadio</h3>
      <p class="carde-resume">Conheça minhas redes sociais</p>
      <div class="icons">
        <a href="https://www.linkedin.com/in/lucas-leocadio-88755b227/" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-linkedin" style="color: #4ed641;"> </i></a>
        <a href="https://github.com/D0nnye" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-github" style="color: #4ed641;"></i></a>
        <a href="https://www.instagram.com/donleocadio_/" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-instagram" style="color: #4ed641;"></i></a>
        <a href="https://twitter.com/D0nnye_" target="_blank" rel="noopener noreferrer"><i
            class="fa-brands fa-square-twitter" style="color: #4ed641;"></i></a>
      </div>
    </div>
  </section>
  {{>partials/footer}}
</body>
</html>