<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/footer.css">

    <title>Responsive Footer</title>
</head>
<body>
    
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <a href="#"><img src="/images/Header&Footer/LogoTipo txtBranca.png" width="150px" height="120px" alt="logo"></a>
                <p></p>
                <p>O destino para seu lixo eletrônico.</p>

                
            </div>
            <div id="footer_social_media">
                <a href="https://www.instagram.com/aquiseulixo/" target="_blank" rel="noopener noreferrer" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://twitter.com/AquiSeuLixo" target="_blank" rel="noopener noreferrer" class="footer-link" id="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </a>

                <a href="#" class="footer-link" id="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

                <a href="https://www.linkedin.com/in/aqui-seulixo-0305b6276/" target="_blank" rel="noopener noreferrer" class="footer-link" id="linkedin">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>

            </div>
            
            <ul class="footer-list">
                <li>
                    <a href="../" class="footer-link"><h3>Home</h3></a>
                </li>
                <li>
                    <a href="../cadastro" class="footer-link"><h3>Cadastro de ponto</h3></a>
                </li>
                <li>
                    <a href="../sobrenos" class="footer-link"><h3>Sobre nós</h3></a>
                </li>
            </ul>

            

            <div id="footer_subscribe">
                <h3>Feedback</h3>

                <p>
                    Encontrou algo de errado em nosso site? Gostaria de dar alguma sugestão? Envie-nos seu feedback.
                </p>

                <div id="input_group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            &#169
            2023 todos os direitos reservados
        </div>
    </footer>
</body>
</html>