<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    

    <title>Menu Responsivo</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="#"><img src="/images/GuiH&F/ReduçaoASLBranca.png" width="200px" height="125px" alt="logo"></a>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="#" class="nav-link" class="active">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Sobre Nós</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Usuário</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Fale Conosco</a></li>
                </ul>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="images/GuiH&F/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="#" class="nav-link" class="active">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Sobre Nós</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Usuário</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Fale Conosco</a></li>
            </ul>

        </div>
    </header>

    <script src="/js/header.js"></script>
</body>


</html>